
html {
  max-width: 1300px;
  align-items: center;
  margin: auto;
  background-color: #dee4ea;
}
body {  
    /* background-image: url("../images/backgroundImg.jpg"); */
    background-image: url("../images/backgroundImg.jpg");
    background-repeat: no-repeat;
    background-size: 1300px 1100px ;
    background-repeat: repeat-y;
    background-position: inherit;
    align-content: center;

    /* opacity: .9;  */
    /* margin: 10px; */
    /* height: 100%; */
    width: 1300px;
}

#main{
    padding-top: 1%;
    /* opacity: 0.8; */
    background: none;
    height: 20%;
    margin: 0;
    padding-bottom: 3%;
    width: 1300px;
    /* background-image:url("pexels-photo-235994-1920x960.jpg"); */
    /* background-image:url("Webp.net-resizeimage.jpg"); */
  }

  #input{
    /* padding-top: 15px;
    padding-bottom: 20px; */
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    width: 60%;
    margin-left: 20%
  
  }
  .grid-container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 40px;
  }
  .grid-item{
     padding: 20px;
     background: rgba(227,232,236, 0.781);
     border-radius: 10%;
     border: solid thin black;
     text-align: center;
  }
  .recipe-description{
    background: rgba(227,232,236, 0.781);
    padding: 5%;
  }
  #image{
    /* opacity: 0.7; */
    width: 200px
  }
  h1, p{
    color: #faedb9;
  }
  .btn {
    color: black;
    background-color: white;
    margin: 0px 5px;
  }